
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    box-sizing: border-box;
}
nav {
    background: lightgray;
    height: 4em;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: inherit;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #0000FF;
}
nav li {
    margin: .35em;
}
li:nth-child(6) {
    margin-left: auto;
}
.logo-item{
    font-size: 3em;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
}
.logo-item a{
    margin: auto;
    display: flex;
    align-items: center;
}
