body{
    margin: auto;
    font-family: Helvetica, sans-serif;
    padding: 1em;
    max-width: 960px;
}

.alert-info {
    background-color: #cff;
    color: black;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: auto;
    padding: 1em;
}

.alert-info a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: purple;
}

a:visited{
    color: red;
}

a {
    color: blue;
}

h1{
    display: flex;
    justify-content: center;
}
.nav-links li{
    background-color: darkgray;
    padding: 1em 0;
    margin: 5px 0;
    text-align: center;
    border: 2px solid black;
}

.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.header-img{
    display: flex;
    justify-content: center;
    max-height: 224px;
    min-width: 339px;
}

h2{
    font-size: 2em;

}
.main{
    margin-bottom: 3em;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-section{
    margin-bottom: 3em;
    font-style: italic;
}

footer{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social-media-links{
    margin: 0 1em;
}

/*media queries for desktop*/

@media screen and (min-width:992px) {
    .hidden-on-desktop{
        display: none;
    }

    h1{
       float: left;
    }
    .nav-links li{
        background: none;
        border: none;
        margin: 0 0.5em;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .header-img{
        display: flex;
        justify-content: center;
        max-height: 400px;
        min-width: 900px;
    }
    .main{
        display: inline-flex;
        width: calc(55% - 1em);
        margin-right: 10em;
    }
    .sub-section {
        display: inline-flex;
        width: calc(30% - 1em);

    }

}
